br {
	display: block;
}

.clear {
	height: 0;
}

ul.contact {
	padding: 0;
	display: block;
	overflow: hidden;
	padding-top: 20px;
}

#footer {
    width: 960px;
    height: 14px;
    margin: 0 auto;
    padding: 22px 0 10px 0;
}