<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>MeegoFurn. Landing Page</title>
<link rel="stylesheet" type="text/css" href="/static/style.css" media="all" />
<link rel="stylesheet" type="text/css" href="/static/colors/blue.css" media="all" />
<link rel="stylesheet" type="text/css" href="/static/js/prettyPhoto.css" media="all" />
<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="ie.css" media="all" />
<![endif]-->
<script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.cycle.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="/static/js/scripts.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var invalidMailError	= "E-mail is not valid.";
	var duplicateMailError	= "E-mail is already in the list.";
	var systemError			= "An error occurred. Please try again.";
	var successMessage		= "Your e-mail is added to the list.";

	$(".resultText").hide();
	$(".loader").hide();
	
    $('form#newsletterForm').bind('submit', function(e){
		$(".resultText").hide();
		$(".loader").show();
		var email  = $('input#email').val();
        e.preventDefault();
		
		$.ajax({
			type: 'POST',
			url: 'newsletter.php?email='+email,
			data: '',
			success: function(theResponse){
				$(".resultText").fadeIn("slow");
				$(".resultText").animate({opacity: 1.0}, 3000);
				$(".resultText").fadeOut(1500);
				
				if (theResponse == 1) {
					$(".resultText").html(successMessage);
				}
				if (theResponse == 2) {
					$(".resultText").html(invalidMailError);
				}
				if (theResponse == 3) {
					$(".resultText").html(duplicateMailError);
				}
				$(".loader").hide();
			},
			error: function(){
				$(".resultText").html(systemError);
				$(".loader").hide();
			}		
		});
	});
			
});
</script>
</head>
<body>
<!-- Header Wrapper -->
<div id="header-wrapper"> 
  <!-- Header -->
  <div id="header"> 
    <!-- Header Top -->
    <div class="header-top"> 
      <!-- Logo -->
      <div class="logo"> <a href="#" title=""><img src="/static/images/logo.png" alt="MeegoFurn." /></a> </div>
      <!-- End Logo --> 
      
      <!-- Contact Us -->
      <div class="contactus"><span>Call Us:</span> 0548 784 44 66</div>
      <!-- End Contact Us --> 
    </div>
    <!-- End Header Top --> 
    
    <!-- Slideshow -->
    <div class="slideshow"> 
      
      <!-- Slide -->
      <div class="slide">
        <div class="media"><img src="/static/images/slide1.jpg" alt="" width="650" height="360" /></div>
        <div class="text">
          <h2>Welcome to MeegoFurn.</h2>
          <p>Morbi sed lectus nibh ut velest elit. Curabitur at mauris at velit laoreet sedat odio. Nam ut biben sagittis tortora volutpat. Etiam nonet leo purus,elementum libero. Aenean vitae quam leo mure rutrum.</p>
          <ul>
            <li>Curabitur at mauris</li>
            <li>Nam biben sagittis tortora</li>
            <li>Etiam non leo elementum</li>
          </ul>
          <a href="#" class="button">Go to Link<span></span></a> </div>
      </div>
      <!-- End Slide --> 
      
      <!-- Slide -->
      <div class="slide">
        <!-- /static/images/slide2.jpg-->
        <div class="media"><img src="http://cdn.lvxingfanyi.com/tabelog-image-da1442dfaae36de04e4a720a8b7cdcac.jpg" alt="" width="650" height="360" /></div>
        <div class="text">
          <h2>Vestibulum euismod ornare</h2>
          <p>Duis gravida molestie urna, non convallis lectus malesuada vel. Vestibulum euismod ornare purus sit amet bibendum. Phasellus non turpis sit amet urna molestie pellentesque. </p>
          <ul>
            <li>Maecenas cursus lacinia iaculis</li>
            <li>Nam biben sagittis tortora</li>
          </ul>
          <a href="#" class="button">Go to Link<span></span></a> </div>
      </div>
      <!-- End Slide --> 
      
      <!-- Slide -->
      <div class="slide">
        <div class="media">
          <iframe src="http://player.vimeo.com/video/14117794?title=0&amp;byline=0&amp;portrait=0" width="650" height="360" frameborder="0"></iframe>
        </div>
        <div class="text">
          <h2>Donec sit amet lacus id</h2>
          <p>Aliquam erat volutpat. Sed dapibus cursus velit, nec rhoncus quam condimentum non. Donec sit amet lacus id neque dignissim auctor nec ultricies arcu. Sed iaculis elit id ante tincidunt eleifend. </p>
          <ul>
            <li>Nam biben sagittis tortora</li>
            <li>Etiam non leo elementum</li>
            <li>Curabitur at mauris</li>
          </ul>
          <a href="#" class="button">Go to Link<span></span></a> </div>
      </div>
      <!-- End Slide --> 
      
      <!-- Slide -->
      <div class="slide">
        <div class="media"><img src="/static/images/slide3.jpg" alt="" width="650" height="360" /></div>
        <div class="text">
          <h2>Etiam nonet leo purus</h2>
          <p>Morbi sed lectus nibh ut velest elit. Curabitur at mauris at velit laoreet sedat odio. Nam ut biben sagittis tortora volutpat. Etiam nonet leo purus, elementum libero. Aenean vitae quam leo mure rutrum.</p>
          <ul>
            <li>Curabitur at mauris</li>
            <li>Nam biben sagittis tortora</li>
            <li>Etiam non leo elementum</li>
          </ul>
          <a href="#" class="button">Go to Link<span></span></a> </div>
      </div>
      <!-- End Slide --> 
      
    </div>
    <!-- End Slideshow --> 
    
    <!-- Slideshow Navigation -->
    <ul id="nav"></ul>
    <!-- End Slideshow Navigation --> 
    
  </div>
  <!-- End Header --> 
</div>
<!-- End Header Wrapper --> 

<!-- Middle -->
<div id="middle-wrapper">
  <div id="middle">
  	<a href="#" class="carousel-prev">Prev</a>
    <ul class="carousel">
      <li><a href="/static/images/slide1.jpg" class="zoom" rel="prettyPhoto[gallery]"><img src="/static/images/thumb1.jpg" alt="" /></a></li>
      <li><a href="/static/images/slide2.jpg" class="zoom" rel="prettyPhoto[gallery]"><img src="/static/images/thumb2.jpg" alt="" /></a></li>
      <li><a href="/static/images/slide3.jpg" class="zoom" rel="prettyPhoto[gallery]"><img src="/static/images/thumb3.jpg" alt="" /></a></li>
      <li><a href="/static/images/slide4.jpg" class="zoom" rel="prettyPhoto[gallery]"><img src="/static/images/thumb4.jpg" alt="" /></a></li>
      <li><a href="/static/images/slide1.jpg" class="zoom" rel="prettyPhoto[gallery]"><img src="/static/images/thumb1.jpg" alt="" /></a></li>
      <li><a href="/static/images/slide2.jpg" class="zoom" rel="prettyPhoto[gallery]"><img src="/static/images/thumb2.jpg" alt="" /></a></li>
      <li><a href="/static/images/slide3.jpg" class="zoom" rel="prettyPhoto[gallery]"><img src="/static/images/thumb3.jpg" alt="" /></a></li>
      <li><a href="/static/images/slide4.jpg" class="zoom" rel="prettyPhoto[gallery]"><img src="/static/images/thumb4.jpg" alt="" /></a></li>
      <li><a href="/static/images/slide1.jpg" class="zoom" rel="prettyPhoto[gallery]"><img src="/static/images/thumb1.jpg" alt="" /></a></li>
    </ul>
    <a href="#" class="carousel-next">Next</a>
  </div>
</div>
<!-- End Middle --> 

<!-- Container -->
<div id="container"> 
  
  <!-- Intro -->
  <div class="intro">
  		Mauris sodales risus non enim tempor euro mat vehicula metus porta. Fusce eget molestie urna. Maecenas eu condimentum sem. Fusce in odio vitae risus tincidunt feugiat idet augue.
  </div>
  <!-- End Intro --> 
  
  <!-- Left Content -->
  <div id="content"> 
    
    <!-- Top 2 Columns -->
    <div class="one-half">
      <h3><img src="/static/images/s1.png" alt="" /> Vestibulum tellus consequat</h3>
      <p>Nunc sed quam mi, at bibendum leo. Fusce a lacus ligula. Vestibulum sollicitudin ultricesy viverra dolor egestas at. Aliquam congue, nec fringilla augue faucibus at. Nam iaculis posuere justo, a rutrum urna lacinia non.</p>
    </div>
    <div class="one-half last">
      <h3><img src="/static/images/s2.png" alt="" /> Cras commodo lacinia turpis</h3>
      <p>Suspendisse dui velit, fermentum vitae alam vitae, consequat et ligula. Nam molestie at venenatis dignissim. Pellentesque nec purus ipsum, vel elementum ante. Cras eu mi lectu sedo non sapien massa.</p>
    </div>
    <div class="clear"></div><br /><br /><br />
    <!-- End Top 2 Columns --> 
    
    <!-- Bottom 2 Columns -->
    <div class="one-half">
      <h3><img src="/static/images/s3.png" alt="" /> Morbi vulputate adipiscing</h3>
      <p>Proin blandit ullamcorper lectus ornare. Mauris sodales risus non enim tempor eumy vehicula metus porta. Fusce molestie urna maecenas eu condimentum sem. Fusce in odio vitae risus tincidunt feugiat id et augue.</p>
    </div>
    <div class="one-half last">
      <h3><img src="/static/images/s4.png" alt="" /> Etiam volutpat porta magna</h3>
      <p>Integer id nunc eu felis vulputate posuere sit amet blandit mauris. Suspendisse condintum sem rhoncus dolor sodales ultricies. In velvur fringilla leo. Vestibulum sagittis, est at phare dapibus, libero nulla facilisis ligula.</p>
    </div>
    <div class="clear"></div><br /><br /><br />
    <!-- End Bottom 2 Columns --> 
  </div>
  <!-- End Left Content --> 
  <div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
  <!-- Right Side -->
  <div id="side"> 
    
    <!-- Newsletter -->
    <div id="newsletter">
      <form action="#" name="newsletterForm" id="newsletterForm">
       <input class="newsletter" type="text" name="newsletter" id="email" onClick="this.value='';" onFocus="this.select()" onBlur="this.value=!this.value?'Enter your email to subscribe':this.value;" value="Enter your email to subscribe">
        <button type="submit">Send</button>
      </form><div class="clear"></div><div class="resultText"></div>
    </div>
    
    <!-- End Newsletter --> 
    
    <!-- Testimonials -->
    <div id="testimonials-wrapper">
      <h3>Here's what our customers think about us.</h3>
      <div class="testimonials"> 
        
        <!-- Message -->
        <div class="message">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. This is a pullquote. Nam sit amet sem. Aliquam libero nisi, tincidunt nec, gravida vehicula, nisl. </p>
          <strong>by Jacqueline</strong> </div>
        <!-- End Message --> 
        
        <!-- Message -->
        <div class="message">
          <p>Morbi est elit, imperdiet sit amet pharetra eget, egestas in leo. Ut quis risus elit. Nunc semper aliquet nisl ut iaculis. Vivamus tristique odio et dui convallis dapibus ornare diam mattis. Proin non commodo elit.</p>
          <strong>by Charlene</strong> </div>
        <!-- End Message --> 
        
        <!-- Message -->
        <div class="message">
          <p>Praesent sollicitudin ligula at diam iaculis auctor. Suspendisse tellus mi, condimentum id rutrum auctor, lobortis tempus orci. Nunc sem nisl, varius imperdiet mollis nec, molestie a quam. </p>
          <strong>by Mathieu</strong> </div>
        <!-- End Message --> 
        
      </div>
    </div>
    <!-- End Testimonials --> 
  </div>
  <!-- End Right Side -->
  
  <div class="clear"></div>
</div>
<!-- End Container -->

<!-- Begin Footer -->
<div id="footer-wrapper">
  <div id="footer">
    <p>© Copyright 2010 MeegoFurn. All Rights Reserved. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
    <ul class="social">
      <li><a href="#"><img src="/static/images/facebook.png" alt="" /></a></li>
      <li><a href="#"><img src="/static/images/flickr.png" alt="" /></a></li>
      <li><a href="#"><img src="/static/images/twitter.png" alt="" /></a></li>
      <li><a href="#"><img src="/static/images/tumblr.png" alt="" /></a></li>
    </ul>
  </div>
</div>
<!-- End Footer -->
</body>
</html>
