<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>MeegoFurn. Landing Page</title>
<link rel="stylesheet" type="text/css" href="style.css" media="all" />
<link rel="stylesheet" type="text/css" href="colors/gray.css" media="all" />
</head>
<body>
<!-- Container -->
<div id="container"> <br /><br /><br /><br />
<div class="one-half">
          <h2>Donec sed tellus eget</h2>
          <p><span class="dropcap">1</span>Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus. Maecenas ante lectus, placerat et venenatis quis, dictum quis orci. Curabitur lacus nisi, vestibulum id aliquam sit amet, dictum sit amet lacus. </p>
          <p>Donec sed tellus eget sapien fringilla nonummy. Mauris a ante.<br>
            Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus. Integer congue vehicula lectus. Quisque aliquam.</p>
        </div>
        <div class="one-half last">
          <h2>Donec sed tellus eget</h2>
          <p><span class="dropcap">2</span>Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus. Maecenas ante lectus, placerat et venenatis quis, dictum quis orci. Curabitur lacus nisi, vestibulum id aliquam sit amet, dictum sit amet lacus. </p>
          <p>Donec sed tellus eget sapien fringilla nonummy. Mauris a ante.<br>
            Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus. Integer congue vehicula lectus. Quisque aliquam.</p>
        </div>
        <div class="clear"></div>
        <br />
        <br />
        <div class="one-third">
          <h2>Donec sed tellus eget</h2>
          <p><span class="dropcap">1</span>Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus. Maecenas ante lectus, placerat et venenatis quis, dictum quis orci. Curabitur lacus nisi, vestibulum id aliquam sit amet, dictum sit amet lacus. </p>
          <p>Fusce interdum aliquet turpis sed venenatis. Vivamus vel libero nisl. Proin risus dolor, accumsan rutrum faucibus in, suscipit in erat. Mauris non diam a augue luctus varius in a risus. Etiam ac orci metus, vel ultricies nibh. Maecenas a bibendum urna. Sed quis nisl sed lacus eleifend fermentum. In feugiat feugiat dui ut consequat. </p>
        </div>
        <div class="one-third">
          <h2>Donec sed tellus eget</h2>
          <p><span class="dropcap">2</span>Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus. Maecenas ante lectus, placerat et venenatis quis, dictum quis orci. Curabitur lacus nisi, vestibulum id aliquam sit amet, dictum sit amet lacus. </p>
          <p>Fusce interdum aliquet turpis sed venenatis. Vivamus vel libero nisl. Proin risus dolor, accumsan rutrum faucibus in, suscipit in erat. Mauris non diam a augue luctus varius in a risus. Etiam ac orci metus, vel ultricies nibh. Maecenas a bibendum urna. Sed quis nisl sed lacus eleifend fermentum. In feugiat feugiat dui ut consequat. </p>
        </div>
        <div class="one-third last">
          <h2>Donec sed tellus eget</h2>
          <p><span class="dropcap">3</span>Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus. Maecenas ante lectus, placerat et venenatis quis, dictum quis orci. Curabitur lacus nisi, vestibulum id aliquam sit amet, dictum sit amet lacus. </p>
          <p>Fusce interdum aliquet turpis sed venenatis. Vivamus vel libero nisl. Proin risus dolor, accumsan rutrum faucibus in, suscipit in erat. Mauris non diam a augue luctus varius in a risus. Etiam ac orci metus, vel ultricies nibh. Maecenas a bibendum urna. Sed quis nisl sed lacus eleifend fermentum. In feugiat feugiat dui ut consequat.</p>
        </div>
        <div class="clear"></div>
        <br />
        <br />
        <div class="one-fourth">
          <h2>Vestibulum egestas</h2>
          <p><span class="dropcap">1</span>Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus. Maecenas ante lectus, placerat et venenatis quis, dictum quis orci. Curabitur lacus nisi, vestibulum id aliquam sit amet, dictum sit amet lacus. </p>
        </div>
        <div class="one-fourth">
          <h2>Vestibulum egestas</h2>
          <p><span class="dropcap">2</span>Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus. Maecenas ante lectus, placerat et venenatis quis, dictum quis orci. Curabitur lacus nisi, vestibulum id aliquam sit amet, dictum sit amet lacus. </p>
        </div>
        <div class="one-fourth">
          <h2>Vestibulum egestas</h2>
          <p><span class="dropcap">3</span>Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus. Maecenas ante lectus, placerat et venenatis quis, dictum quis orci. Curabitur lacus nisi, vestibulum id aliquam sit amet, dictum sit amet lacus. </p>
        </div>
        <div class="one-fourth last">
          <h2>Vestibulum egestas</h2>
          <p><span class="dropcap">4</span>Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus. Maecenas ante lectus, placerat et venenatis quis, dictum quis orci. Curabitur lacus nisi, vestibulum id aliquam sit amet, dictum sit amet lacus. </p>
        </div>
        <div class="clear"></div>
        <br />
        <br />
        
        <div class="two-third">
          <h2>Donec sed tellus eget</h2>
          <p><span class="dropcap">1</span>Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus. Maecenas ante lectus, placerat et venenatis quis, dictum quis orci. Curabitur lacus nisi, vestibulum id aliquam sit amet, dictum sit amet lacus. </p>
          <p>Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus. Integer congue vehicula lectus. Quisque aliquam. Donec faucibus. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue.</p>
        </div>
        <div class="one-third last">
          <h2>Donec sed tellus eget</h2>
          <p><span class="dropcap">2</span>Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus. Maecenas ante lectus. </p>
          <p>Integer congue vehicula lectus. Quisque aliquam. Donec faucibus. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae.</p>
        </div>
        <div class="clear"></div>
        <br />
        <br />
        <div class="one-fourth">
          <h2>Integer congue</h2>
          <p><span class="dropcap">1</span>Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus. </p>
          <p>Maecenas ante lectus, placerat et venenatis quis, dictum quis orci. Curabitur lacus nisi. </p>
        </div>
        <div class="three-fourth last">
          <h2>Integer congue vehicula lectus</h2>
          <p><span class="dropcap">2</span>Nam laoreet rutrum ligula, at tincidunt ligula sagittis semper. Integer congue vehicula lectus eu faucibus. Maecenas ante lectus, placerat et venenatis quis, dictum quis orci. Curabitur lacus nisi, vestibulum id aliquam sit amet, dictum sit amet lacus. </p>
          <p>Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus. Integer congue vehicula lectus. Quisque aliquam. Donec faucibus. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
        </div>
        
        <div class="clear"></div>
        <br />
        <br />
        <div class="one-fourth">
          <a href="#" class="button blue">Blue Button<span></span></a>
        </div>
        <div class="three-fourth last">
          <div class="one-fourth">
             <a href="#" class="button green">Green Button<span></span></a>
          </div>
          <div class="one-fourth">
            <a href="#" class="button gray">Gray Button<span></span></a>
          </div>
          <div class="one-fourth">
            <a href="#" class="button yellow">Yellow Button<span></span></a>
          </div>
          <div class="one-fourth last">
            <a href="#" class="button purple">Purple Button<span></span></a>
          </div>
        </div>

        <div class="clear"></div><br />
<div class="one-fourth">
  <button type="submit" class="blue left">Send</button>
</div>
<div class="three-fourth last">
  <div class="one-fourth">
     <button type="submit" class="green left">Send</button>
  </div>
  <div class="one-fourth">
    <button type="submit" class="gray left">Send</button>
  </div>
  <div class="one-fourth">
    <button type="submit" class="yellow left">Send</button>
  </div>
  <div class="one-fourth last">
    <button type="submit" class="purple left">Send</button>
  </div>
</div>
        <div class="clear"></div><br /><br /><br /><br /><br /><br />
</div>
<!-- End Container -->

</body>
</html>