<!DOCTYPE>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/test.css">
<title>this is a test</title>
</head>
<body>
<h1 align="center">My First Heading</h1>
<h2>This is h2</h2>
<p>My first paragraph.</p>
<b>test</b>
<big>test</big>
<hr />
<script type="text/javascript">
document.write("<h1>Hello World!</h1>")
</script>
<p>
<a href="http://www.baidu.com" style="text-decoration:none" target="_top">百度一下你就知道了</a>
<br/>
<a href="mailto:yehao@shejianlvxing.com">yehao</a>
<a href="http://www.shejianlvxing.com"><img src="/static/Image/test.jpg"/></a>
</p>
<ul>
<li>test1</li>
<li>tes2</li>
</ul>
<div>
<p>this is div</p>
</div>
<div>
<form>
账号：
<input type="text" name="user_id"/>
密码：
<input type="password" name="password"/>
<input type="radio" name="sex" value="male"/>Male
<input type="radio" name="sex" value="female"/>Female
<input type="reset">
<input type="hidden">
<br/>
<br/>
<input type="checkbox" name="car" />car
<br/>
<br/>
<input type="checkbox" name="bike" />bike
<br/>
<input type="submit" value="Submit" />
</form>

<form>
<select name="cars">
<option value="volvo">Volvo</option>
<option value="saab">Saab</option>
<option value="fiat">Fiat</option>
<option value="audi">Audi</option>
</select>
</form>
</div>
<iframe src="http://www.shejianlvxing.com" width="800" height="800" name="test_a"></iframe>
<br/>
<br/>
<a href="http://www.baidu.com" target="test_a">百度</a>
</body>
</html>
